<!DOCTYPE html>
<html>
    <head>
        <title>Alumni Dashboard</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <h2>Alumni Dashboard</h2>
        <p>Welcome, Alumni! Here you can update your profile, offer mentorship.</p>

        <table>
            <tr>
                <th>SNo</th>
                <th>Name</th>
                <th>Batch No.</th>
            </tr>
            <tr style="background-color: rgba(240, 248, 255, 0.381);">
                <td>1</td>
                <td>Aakash</td>
                <td>268001</td>
            </tr>

            <tr style="background-color: rgba(240, 248, 255, 0.381);">
                <td>44</td>
                <td>Harsith</td>
                <td>268044</td>
            </tr>

            <tr style="background-color: rgba(240, 248, 255, 0.381);">
                <td>59</td>
                <td>Madhu</td>
                <td>268059</td>
            </tr>
            
        </table>
        <div class="buttons">
            <a href="index.html" class="btn">Back</a>
            
            
            <a href="view_recommendaation.html" class="btn">View Mentorship Recommendations</a>
        </div>
    </body>
</html>