<!DOCTYPE html>
<html>
    <head>
        <title>alumni_login</title>
    </head>

    <body>
        <h1>Alumni Login</h1>
        <form action="/login/alumni" method="POST">
            <label for="alumni_id">Alumni ID:</label>
            <input type="text" id="alumni_id" name="alumni_id" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
    </body>
    </form>


</html>