<!DOCTYPE html>
<html lang="en">
<head>
    <title>Alumni Association</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>
                Alumni Association Interface</h1>
            <nav>
                <ul>
                    <li><a href="view.html">Home</a></li>
                    <li><a href="offer_mentorship.html">Offerings</a></li>
                    <li><a href="events.html">Events</a></li>
                   
                </ul>
            </nav>
        </div>
    </header>
    

        
    <div class="container1">
        
        <h2></h2>
        <div class="button-container">
            <a href="donate.html" class="button">Donate</a>
            <br>
            <a href="success_stories.html" class="button">Success Story</a>
            <br>
            <a href="alumni_dashboard.html" class="button">Alumni Dashboard</a>
            <br>
            <a href="offer_mentorship.html" class="button">Offer mentorship</a>
            <br>
        </div>
    </div>

   

    <footer>
        <p>&copy; 2024 Alumni Association. All rights reserved.</p>
    </footer>
</body>
</html>
